<h3>User Events</h3>
<% @user_posts.each do |post|%>
  <h4><%= link_to post.title, post%></h4>
  <br>
  <p><strong>Date of event: </strong> <%=post.starting%></p>
  <br>
<%end%>
<%=link_to "Create an event", new_event_path%>
<br>
<br>
<h3>Followed Events</h3>
<h4>Upcoming:</h4>
<ul>
  <%@upcoming_events.each do |evt|%>
    <li><%=evt%></li>
  <%end%>
</ul>
<h4>Past Events:</h4>
<ul>
  <%@past_events.each do|evt|%>
    <li><%=evt%></li>
  <%end%>
</ul>

<%= link_to "Home", root_path%>